<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Log</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Accion</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Status</th>
                <th scope="col">Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of logs | slice: (page-1) * pageSize : page * pageSize">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{l.action}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{l.phone}}
                </td>
                <td>
                  <span class="badge badge-dot mr-4" *ngIf="l.status == 'success'">
                    <i class="bg-success"></i> {{l.status}}
                  </span>
                  <span class="badge badge-dot mr-4" *ngIf="l.status == 'error'">
                    <i class="bg-danger"></i> {{l.status}}
                  </span>
                </td>
                <td>
                  {{l.time}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="15">15</option>
              </select>
              <ngb-pagination [collectionSize]="logs.length" [(page)]="page" [pageSize]="pageSize">
              </ngb-pagination>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
